###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# C# files
###############################################################################
*.cs diff=csharp

###############################################################################
# Project and solution files
###############################################################################
*.sln merge=binary
*.csproj merge=binary

###############################################################################
# WPF files
###############################################################################
*.xaml text diff=xml

###############################################################################
# Image files
###############################################################################
*.jpg binary
*.png binary
*.gif binary
*.ico binary

###############################################################################
# Text files
###############################################################################
*.txt text
*.md text diff=markdown
*.json text
*.xml text diff=xml

###############################################################################
# Binary files
###############################################################################
*.dll binary
*.exe binary
*.pdb binary